<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjf.lovezzu">


    <application
        android:name=".entity.CheckLoginApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".service.CheckLogin" />



        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserLoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.saylvoeActivity.SayLoveActivity" />
        <activity android:name=".activity.saylvoeActivity.IWantSayLoveActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.UserSettingActivity" />
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity" />

        <!-- 话题圈 -->
        <activity android:name=".activity.topictalk.TopicTalkActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.topictalk.TopicInfoActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.topictalk.TopicPublishActivity"/>
        <activity android:name=".activity.topictalk.ThemePublishActivity"/>
        <!-- 淘鱼 -->
        <activity android:name=".activity.taoyu.TaoyuActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.taoyu.ShopcartActivity"/>
        <activity android:name=".activity.taoyu.TaoyuChildConmmentsActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.taoyu.TaoyuOrderActivity"/>
        <activity android:name=".activity.taoyu.TaoyuSearchActivity" />
        <activity android:name=".activity.taoyu.TaoyuPublishGoodActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.taoyu.TaoyuDetialActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.taoyu.OrderSellInfoActivity"/>
        <activity android:name=".activity.taoyu.OrderBuyInfoAcivity"/>
        <activity android:name=".activity.taoyu.MyPublishGoodsActivity"/>

        <!-- 一起玩 -->
        <activity
            android:name=".activity.palytogether.PlayTogetherActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.palytogether.PlayGroupActivity"/>



        <!-- 树洞 -->
        <activity android:name=".activity.treehole.TreeHoleActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.treehole.AddTreeHoleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.treehole.TreeInfoActivity"/>

        <!-- 兼职 -->
        <activity android:name=".activity.parttimejob.PartTimeJobActivity"
            android:launchMode="singleTask"  />
        <activity
            android:name=".activity.parttimejob.AddJopActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.parttimejob.JobInfoActivity" />
        <activity android:name=".activity.parttimejob.MyJobActivity"/>
        <activity android:name=".activity.parttimejob.SearchJobActivity"/>

        <!--WebView-->
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />




    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>
